html, body {
  margin: 0;
  padding: 0;
  box-sizing: content-box;
  font-family: sans-serif;
}

main {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  min-height: 100vh;
  padding: 100px 0 50px;
  background: dodgerblue;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  min-height: 50px;
}

footer {
  min-height: 200px;
}

header, footer {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #333;
  color: white;
  width: 100vw;
  z-index: 100;
  text-align: center;
  margin: 0 auto;
}

.card-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  min-width: 50vw;
  background: white;
  border-radius: 5px;
  padding: 25px;
  margin: 20px auto;
  box-shadow: 10px 10px 30px rgba(80, 21, 21, 0.4);
}

.card {
  background: coral;
  width: 100%;
  min-height: 100px;
  margin: 10px 0;
  border-radius: 5px;
}

.scroll-marker {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  top: 75px;
  right: 0;
  width: 70px;
  height: 70px;
  margin: 10px;
  border-radius: 50%;
  background: white;
  border: 5px solid #333;
}

.scroll-marker.wrapper {
  position: relative;
}

aside h4 {
  position: absolute;
  top: -23px;
  right: -20px;
  padding: 0 7px;
  font-size: .8em;
  line-height: 1em;
  width: 100px;
}

span {
  display: inline-block;
  background: coral;
  color: white;
  transform: rotate(7deg);
  padding: 2px 4px;
}